.button {
  display: flex;
  align-items: center;
  background-color: #008bef;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #f5f5f5;
  width: min-content;
  border: 0;
  border-radius: 8px;
  margin: 8px 8px 0;
  cursor: pointer;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}

.button:active {
  filter: brightness(60%);
}

.button-text {
  margin-left: 8px;
}

.py-1 {
  padding: 12px 16px 12px 12px;
}
.py-2 {
  padding: 8px 12px 8px 8px;
}
